@-webkit-keyframes slideInDown {
  from {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translate3d(0, 0, 0);
  }
}
.slideInDown {
  animation-name: slideInDown;
}

@-webkit-keyframes slideOutDown {
  from {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes slideOutDown {
  from {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translate3d(0, 100%, 0);
  }
}
.slideOutDown {
  animation-name: slideOutDown;
}

.example-enter {
  margin-top: 0px;
  opacity: 1;
  &.example-enter-active {
    @extend .slideInDown;
    margin-top: 128px;
    transition: all 500ms ease-in;
  }
}

.example-leave {
  margin-top: 0px;
  opacity: 1;
  &.example-leave-active {
    @extend .slideOutDown;
    margin-top: -128px;
    transition: all 300ms ease-in;
  }
}

.animateExample {
  display: block;
  height: 128px;
  float:left;
  overflow: hidden;
}

.animateItem {
  font-size: 36px;
  font-weight: bold;
  height: 128px;
  line-height: 128px;
  text-align: center;
  width: 128px;
  img {
    width: 128px;
    height: 128px;
  }
}
.container {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}