.example-enter {
  margin-top: 0px;
  opacity: 1;
  &.example-enter-active {
    margin-top: 128px;
    transition: all 100ms ease-in;
  }
}

.example-leave {
  margin-top: 0px;
  opacity: 1;
  &.example-leave-active {
    margin-top: -128px;
    transition: all 100ms ease-in;
  }
}

.animateExample {
  display: block;
  height: 128px;
  float:left;
  overflow: hidden;
}

.animateItem {
  font-size: 36px;
  font-weight: bold;
  height: 128px;
  line-height: 128px;
  text-align: center;
  width: 128px;
  -webkit-transition: all 1s ease-in-out;
  /* TODO: make this a move animation */
  transition: all 1s ease-in-out;
  /* TODO: make this a move animation */
  img {
    width: 128px;
    height: 128px;
  }
}
.container {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}